# Params file for variables
heat_wait_condition_timeout=2400
prefix_name="dev"
external_network="ext-net"
image="debian9-latest"
#bastion_count=1
bastion_flavor="standard-2.2"
bastion_data_enable=false
bastion_data_size=0
http_proxy_flavor="standard-2.2"
http_proxy_count=1
vol_size=10
vol_type="ceph"
key_name="debian"
no_proxy=".api.my-cloud.org"
dns_nameservers=["10.1.1.129", "10.1.2.130"]
dns_domainname=["my-cloud.org", "my-domain.org"]
nexus_server="nexus.my-cloud.org"
tinyproxy_upstream=["upstream proxy1:3128 nexus.my-cloud.org","no upstream .api.my-cloud.org","upstream proxy2:80"]
# tinyproxy_proxy_authorization=""
mirror_docker="http://debian.my-cloud.org/docker-debian"
mirror_docker_key="http://debian.my-cloud.org/0EBFCD88"
ssh_authorized_keys=["ssh-rsa AAAAB3NAZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZbtL imported-openssh-key"]

# dockerhub creds
dockerhub_login="<CHANGE_ME>"
dockerhub_token="<CHANGE_ME_TOKEN>"
# github  creds
github_token="<CHANGE_ME_TOKEN>"
docker_registry_username="<CHANGE_ME>"
docker_registry_token="<CHANGE_ME_TOKEN>"

#
# external URL
#

traefik_user_hostname = ["site.dev.my-domain.org","www.dev.my-domain.org"]
traefik_admin_hostname = ["k3s-admin.dev.my-domain.org"]
#
#
k3s_master_count=1
k3s_master_flavor="standard-8.16"
k3s_master_install_script="https://raw.githubusercontent.com/pli01/terraform-openstack-k3s/main/samples/app/k3s/k3-master-install.sh"
k3s_master_variables={APP_BRANCH = "main", K3S_TOKEN = "_MY_K3S_TOKEN_"}
k3s_master_metric_variables={ HEARTBEAT_HTTP_URLS="http://$META_DATA_LOCAL_IPV4,http://$META_DATA_PUBLIC_IPV4"}
k3s_master_data_enable=false
k3s_master_data_size=0
#
k3s_agent_count=4
k3s_agent_flavor="standard-8.16"
k3s_agent_install_script="https://raw.githubusercontent.com/pli01/terraform-openstack-k3s/main/samples/app/k3s/k3-agent-install.sh"
k3s_agent_variables={APP_BRANCH = "main", K3S_TOKEN = "_MY_K3S_TOKEN_"}
k3s_agent_metric_variables={ HEARTBEAT_HTTP_URLS="http://$META_DATA_LOCAL_IPV4,http://$META_DATA_PUBLIC_IPV4"}
k3s_agent_data_enable=false
k3s_agent_data_size=0
#
lb_admin_count=1
lb_admin_flavor="standard-2.2"
lb_admin_install_script="https://raw.githubusercontent.com/pli01/simple-traefik-http-provider/main/ci/docker-deploy.sh"
lb_admin_variables={
TRAEFIK_PROVIDERS_HTTP_POLLINTERVAL=60,
TRAEFIK_PROVIDERS_HTTP_POLLTIMEOUT=15,
OS_STORAGE_URL="https://object-store.api.my-cloud.org/v1/AUTH_XX_PROJECT_ID",
OS_CONTAINER="lb-admin-conf"
OS_OBJECT="dynamic_conf.json"
}
lb_admin_metric_variables={ HEARTBEAT_HTTP_URLS="http://$META_DATA_LOCAL_IPV4,http://$META_DATA_PUBLIC_IPV4"}

lb_count=1
lb_flavor="standard-2.2"
lb_install_script="https://raw.githubusercontent.com/pli01/simple-traefik-http-provider/main/ci/docker-deploy.sh"
lb_variables={
TRAEFIK_PROVIDERS_HTTP_POLLINTERVAL=60,
TRAEFIK_PROVIDERS_HTTP_POLLTIMEOUT=15,
OS_STORAGE_URL="https://object-store.api.my-cloud.org/v1/AUTH_XX_PROJECT_ID",
OS_CONTAINER="lb-conf"
OS_OBJECT="dynamic_conf.json"
}
lb_metric_variables={ HEARTBEAT_HTTP_URLS="http://$META_DATA_LOCAL_IPV4,http://$META_DATA_PUBLIC_IPV4"}

#
# example : enable metric/heart beat on app instance
metric_enable=true

# example log stack (based on EKF)  https://github.com/pli01/log-stack/
log_count=1
log_flavor="standard-2.2"
log_install_script="https://raw.githubusercontent.com/pli01/log-stack/master/ci/docker-deploy.sh"
log_variables={ OS_AUTH_URL="https://identity.api.my-cloud.org/v3",
OS_CACERT="/etc/ssl/certs/ca-certificates.crt",
OS_IDENTITY_API_VERSION="3",
OS_INTERFACE="public",
OS_PROJECT_DOMAIN_NAME="Default",
OS_PROJECT_NAME="my-app-dev",
OS_REGION_NAME="region1",
OS_USER_DOMAIN_NAME="Default",
OS_USERNAME="<CHANGE_ME>",
OS_PASSWORD="<CHANGE_ME>",
APP_DATA="/DATA",
DISK_SPACE=40,
}


