# Params file for variables
prefix_name="dev"
external_network="ext-net"
image="debian9-latest"
#bastion_count=1
bastion_flavor="standard-2.2"
#http_proxy_count=1
http_proxy_flavor="standard-2.2"
vol_size=10
vol_type="ceph"
key_name="debian"
no_proxy=".api.my-cloud.org"
dns_nameservers=["10.1.1.129", "10.1.2.130"]
dns_domainname=["my-cloud.org", "my-domain.org"]
nexus_server="nexus.my-cloud.org"
tinyproxy_upstream=["upstream proxy1:3128 nexus.my-cloud.org","no upstream .api.my-cloud.org","upstream proxy2:80"]
# tinyproxy_proxy_authorization=""
mirror_docker="http://debian.my-cloud.org/docker-debian"
mirror_docker_key="http://debian.my-cloud.org/0EBFCD88"
ssh_authorized_keys=["ssh-rsa AAAAB3NAZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZbtL imported-openssh-key"]

# dockerhub creds
dockerhub_login="<CHANGE_ME>"
dockerhub_token="<CHANGE_ME_TOKEN>"
# github  creds
github_token="<CHANGE_ME_TOKEN>"
docker_registry_username="<CHANGE_ME>"
docker_registry_token="<CHANGE_ME_TOKEN>"

# example : enable metric/heart beat on app instance
metric_enable=true
metric_install_script="https://raw.githubusercontent.com/pli01/beat-stack/master/ci/docker-deploy.sh"
#metric_variables={METRIC_BRANCH = "master"}

# example loadbalancer enable
#lb_count=1
#lb_flavor=small-1-1
#lb_install_script="https://raw.githubusercontent.com/pli01/lb-stack/master/ci/docker-deploy.sh"
#lb_variables=

# example log stack (based on EKF)  https://github.com/pli01/log-stack/
log_count=1
log_flavor="standard-2.2"
log_install_script="https://raw.githubusercontent.com/pli01/log-stack/master/ci/docker-deploy.sh"
log_variables={ OS_AUTH_URL="https://identity.api.my-cloud.org/v3",
OS_CACERT="/etc/ssl/certs/ca-certificates.crt",
OS_IDENTITY_API_VERSION="3",
OS_INTERFACE="public",
OS_PROJECT_DOMAIN_NAME="Default",
OS_PROJECT_NAME="my-app-dev",
OS_REGION_NAME="region1",
OS_USER_DOMAIN_NAME="Default",
OS_USERNAME="<CHANGE_ME>",
OS_PASSWORD="<CHANGE_ME>",
APP_DATA="/DATA",
DISK_SPACE=40,
}

# example: deploy whoami container
#app_count=2
app_flavor="standard-2.2"
app_install_script="https://gist.githubusercontent.com/pli01/8727bc28df10877552fff9c0240ed46d/raw/054f1f18f5a9d6f5ec0f8a0110ad32ee729adae2/whoami-docker-deploy.sh"
# app_variables={PORT = 80, URL = "http://0.0.0.0/"}

